<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761907194377-704lcjk0u6bp7058al9tflopibc2sjij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761907194377-704lcjk0u6bp7058al9tflopibc2sjij</string>
	<key>API_KEY</key>
	<string>AIzaSyANDDHaUGr12DL-hDQ-vfvrwmo3P4miTek</string>
	<key>GCM_SENDER_ID</key>
	<string>761907194377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.redditTutorial</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-8e0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-8e0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761907194377:ios:0e584c6034c2bbe9e6a6d8</string>
</dict>
</plist>